{% extends 'core.html' %}

{% block body %}
<p>Node Page</p>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="{{url_for('static', filename='md5-min.js')}}"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io({transports: ['websocket']});
    socket.on('connect', function() {
        if(localStorage.getItem('id') === null) {
            socket.emit('on_connect', {'id': 'none' });
        }
        else {
            socket.emit('on_connect', {'id': localStorage.getItem('id')});
        }
    });
    socket.on('heartbeat', function(){
        console.log('Heartbeat received...');
        var obj = {
            blocks: {}
        };
        for(var i = 0; i < localStorage.length; i++){
            var id = localStorage.key(i);
            if(id === 'id') {
                obj.id = localStorage.getItem(id);
            }
            else {
                var data = localStorage.getItem(id);
                var hash = hex_md5(data);
                obj.blocks[id] = hash;
            }
        }
        console.log('Sending response...');
        socket.emit('heartbeat_resp', obj);
    });
    socket.on('add_block', function(data){
        var obj = JSON.parse(data);
        localStorage.setItem(obj.id, obj.data);
    });
    socket.on('give_uid', function(uid){
        localStorage.setItem('id', uid);
    });
</script>
{% endblock %}